@import '../../../scss/global';
::ng-deep app-sidebar {
  position: absolute;
  top: 0px;
  right: -300px;
  width: 270px;
  background: #404040;
  color: $white;
  height: 100vh;
  z-index: 2;
  padding: 15px;
  transition: $cubic-transition;
}
.sidebar-top {
  display: flex;
  justify-content: space-between;

  .user-block {
    gap: 10px;
    align-items: center;
  }
  .settings-close {
    display: block;
    transform: rotate(45deg);
    font-size: $largest-font;
    cursor: pointer;
  }
  label {
    font-size: 18px;
    padding-bottom: 3px;
    display: inline;
  }
}
.input-block {
  margin: 20px 0;

  .k-input {
    width: 100%;
  }
}

.logout {
  position: absolute;
  bottom: 50px;
  width: 270px;
}
