@import '../../../scss/variables';

.settings-sidebar {
  top: 0px;
  right: -300px;
  width: 270px;
  height: 100vh;
  z-index: 1;
  transition: 0.3s ease-in all;
}
.sidebar-top {
  display: flex;
  justify-content: space-between;

  .user-block {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .avatar {
    position: relative;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    background-size: cover;
  }
  .settings-close {
    display: block;
    transform: rotate(45deg);
    font-size: $largest-font;
  }
  .name {
    grid-row: 1;
    grid-column: 2;
    font-size: 15px;
    font-weight: 600;
  }
}
