@import '../../../scss/variables';

.settings-sidebar {
  top: 0px;
  right: -300px;
  width: 300px;
  background: #ccc;
  color: black;
  height: 100vh;
  z-index: 1;
  transition: 0.3s ease-in all;
}
.sidebar-top {
  display: flex;

  .user-block {
    display: flex;
  }
  .settings-close {
    display: block;
  }
  .name {
    grid-row: 1;
    grid-column: 2;
    font-size: 15px;
    font-weight: 600;
    color: $black;
  }
}
