<div class="settings" #overview>
  <app-sidebar></app-sidebar>
  <div class="overlayer" (click)="toggleSidebar()"></div>
  <div class="overlayer-filter" (click)="toggleFilters()"></div>
  <div
    class="overlayer-navigation"
    singleDoubleClick
    (onSingleClick)="handleSingleClicks()"
  ></div>
</div>

<div class="main-header">
  <div id="dash-header">
    <div class="top-navigation-block">
      <div
        role="button"
        class="hamburger toggler"
        singleDoubleClick
        (onSingleClick)="handleSingleClicks()"
      >
        <span></span>
      </div>
      <div class="company-logo ciena"></div>
      <div class="mobile-breadcrumb">{{breadCrumb}}</div>
      <input type="checkbox" id="toggle-search" />
      <div class="top-fields">
        <nav aria-label="breadcrumb" role="navigation" class="breadcrumb">
          <span>{{breadCrumb}}</span>
        </nav>
        <div class="search-block">
          <input
            type="text"
            name="search"
            autocomplete="off"
            placeholder="Search for anything"
            class="search-field"
          />
          <button class="search-submit blue">Search</button>
        </div>
        <div class="header-events">
          <label for="toggle-search" class="icon site-search"
            >Search Field</label
          >
          <div class="notifications">
            <input type="checkbox" id="toggle-notifications" />
            <label for="toggle-notifications" class="icon active"
              >Notifications</label
            >
            <div class="notifications-popup">
              <span class="notifications-title">Notifications</span>
              <ul>
                <li>You have no notifications at this time</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-header-events"></div>
      <div class="user-block" (click)="toggleSidebar()">
        <div class="avatar"></div>
        <div class="name">
          Ross V.
        </div>
      </div>
    </div>
  </div>
</div>
<!--filters -->
<div class="filter-block" #filters>
  <div class="filters" (click)="toggleFilters()">
    <span class="filter-title">Filters</span>
    <span class="filter-close">+</span>
  </div>
  <div class="overview-filters">
    <div class="filter-container">
      <div class="block-filters">
        <div class="filter-item">
          <div class="filter-label">Status</div>
          <span class="k-dropdown-wrap">
            <span class="k-input">Status</span>
            <span class="k-select">
              <span class="k-icon k-i-arrow-s"></span>
            </span>
          </span>
        </div>
        <div class="filter-item">
          <div class="filter-label">Dates</div>
          <div class="datepicker">
            <div class="from-date">
              8/31/2021
            </div>
            <div class="text-date">TO</div>
            <div class="to-date">
              12/31/2021
            </div>
            <span role="button" class="k-select">
              <span class="k-icon k-i-calendar"></span>
            </span>
          </div>
        </div>

        <div class="filter-item">
          <div class="filter-label">Type</div>
          <span class="k-dropdown-wrap">
            <span class="k-input">Type</span>
            <span class="k-select"
              ><span class="k-icon k-i-arrow-s"></span
            ></span>
          </span>
        </div>

        <div class="filter-item">
          <div class="filter-label">sites</div>
          <span class="k-dropdown-wrap"
            ><span class="k-input">Manuf. Sites</span>
            <span class="k-select"
              ><span class="k-icon k-i-arrow-s"></span></span
          ></span>
        </div>

        <div class="filter-item">
          <div class="filter-label">Supplier</div>
          <span class="k-dropdown-wrap">
            <span class="k-input">Supplier</span>
            <span class="k-select"
              ><span class="k-icon k-i-arrow-s"></span
            ></span>
          </span>
        </div>
      </div>

      <div class="block-filterbuttons">
        <button kendobutton="" class="secondary">Reset</button>
        <button kendobutton="" class="blue">Apply</button>
        <div class="close-filters" (click)="toggleFilters()">+</div>
      </div>
    </div>
  </div>
</div>
