<div class="settings" #overview>
  <app-sidebar></app-sidebar>
  <div class="overlayer" (click)="toggleSidebar()"></div>
</div>

<div id="header">
  <div id="dash-header">
    <div class="top-navigation-block">
      <input type="checkbox" id="toggle-search" />
      <div class="top-fields">
        <nav aria-label="breadcrumb" role="navigation" class="breadcrumb">
          <div class="company-title">
            <b>Ciena</b>
          </div>
          <span>Manufacturing Sites</span><span>Overview</span>
        </nav>
        <div class="search-block">
          <input
            type="text"
            name="search"
            autocomplete="off"
            placeholder="Search for anything"
            class="search-field"
          />
          <button class="search-submit blue">Search</button>
        </div>
        <div class="header-events">
          <label for="toggle-search" class="icon site-search"
            >Search Field</label
          >
          <div class="notifications">
            <input type="checkbox" id="toggle-notifications" />
            <label for="toggle-notifications" class="icon active"
              >Notifications</label
            >
            <div class="notifications-popup">
              <span class="notifications-title">Notifications</span>
              <ul>
                <li>You have no notifications at this time</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="user-block" (click)="toggleSidebar()">
        <div class="avatar"></div>
        <div class="name">
          Ross V.
        </div>
      </div>
    </div>
  </div>
</div>
<!--filters -->
<input type="checkbox" id="toggle-filters" />
<label for="toggle-filters" class="filters">Filters</label>
<div class="overview-filters">
  <div class="filterblock">
    <div class="block-filters">
      <div class="k-widget k-dropdown">
        <span class="k-dropdown-wrap">
          <span class="k-input">Status</span>
          <span class="k-select">
            <span class="k-icon k-i-arrow-s"></span>
          </span>
        </span>
      </div>
      <div class="datepicker">
        <div class="from-date">
          8/31/2021
        </div>
        <div class="text-date">TO</div>
        <div class="to-date">
          12/31/2021
        </div>
        <span role="button" class="k-select">
          <span class="k-icon k-i-calendar"></span>
        </span>
      </div>

      <div class="k-widget k-dropdown">
        <span class="k-dropdown-wrap">
          <span class="k-input">Type</span>
          <span class="k-select"><span class="k-icon k-i-arrow-s"></span></span>
        </span>
      </div>

      <div class="k-widget k-dropdown">
        <span class="k-dropdown-wrap"
          ><span class="k-input">Manuf. Sites</span>
          <span class="k-select"><span class="k-icon k-i-arrow-s"></span></span
        ></span>
      </div>

      <div class="k-widget k-dropdown">
        <span class="k-dropdown-wrap">
          <span class="k-input">Supplier</span>
          <span class="k-select"><span class="k-icon k-i-arrow-s"></span></span>
        </span>
      </div>
    </div>

    <div class="block-filterbuttons">
      <button kendobutton="" class="secondary">Reset</button>
      <button kendobutton="" class="blue">Apply</button>
    </div>
  </div>
</div>
