@import '../../../scss/variables';

#header {
  padding-top: 50px;
}
.header-events {
  display: flex;
}
/*breadcrumbs */
.breadcrumb {
  white-space: nowrap;
  font-size: $larger-font;
  color: $grey-lighter;
  opacity: 1;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  flex-grow: 1;

  .breadcrumb-item {
    display: inline-block;
    font-size: 24px;
  }
  .company-title {
    font-size: $largest-font;
    display: inline;
  }
  span::before {
    content: '';
    border-left: 2px solid $grey-lighter;
    border-bottom: 2px solid $grey-lighter;
    width: 8px;
    height: 8px;
    display: inline-block;
    transform: rotate(-135deg);
    margin: 0px 10px;
    top: -2px;
    position: relative;
  }
  span::first-of-type {
    margin-left: 10px;
  }
  span::first-of-type:before {
    content: none;
  }
}

/*SEARCH */
#toggle-search {
  opacity: 0;
  position: absolute;
}
.site-search {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  position: relative;
  top: 3px;

  &:before {
    background-color: $grey-lightest;
    border-radius: 0px;
    content: '';
    display: inline-block;
    height: 13px;
    left: 26px;
    position: absolute;
    top: 22px;
    transform: rotate(-45deg);
    transition: all 0.15s linear;
    width: 5px;
  }
  &:after {
    border: 2px solid $grey-lightest;
    border-radius: 50%;
    box-sizing: content-box;
    content: '';
    height: 25px;
    left: 0px;
    position: absolute;
    top: 0px;
    transform-origin: 50% 50%;
    transition: all 0.15s linear;
    width: 25px;
  }
}
.area-search {
  transition: $default-transition;
  color: $black;
  border-radius: 10px;
}
.search-field {
  width: calc(100% - 120px);
  border-radius: 10px;
  padding: 0px 10px;
  font-size: $large-font;
  outline: 0px;
}
.search-block {
  position: relative;
  max-width: 0%;
  display: flex;
  overflow: hidden;
  transition: 0.5s all cubic-bezier(0.25, 0.95, 0.62, 1.09);
}

/*topnav */
.top-navigation-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;

  .icon {
    text-indent: -9999px;
    overflow: hidden;
  }
  .profile-block {
    display: flex;
  }
  .top-fields {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .name {
    grid-row: 1;
    grid-column: 2;
    font-size: 15px;
    font-weight: 600;
    color: $grey-lighter;
  }
  .role {
    grid-row: 2;
    grid-column: 2;
    font-size: 13px;
  }
  .notifications {
    position: relative;

    .icon {
      position: relative;
      width: 45px;
      height: 45px;
      background-repeat: no-repeat;
      margin-right: 20px;
      display: block;
      cursor: pointer;
      background-size: 35px 35px;
      background-position: 5px 3px;
    }
    .icon.active:after {
      content: '';
      height: 10px;
      width: 10px;
      background: #009ddc;
      border-radius: 10px;
      position: absolute;
      display: block;
      top: 3px;
      left: 22px;
    }
    .notifications-popup {
      right: 20px;
      position: absolute;
      background-color: $black;
      width: 300px;
      max-height: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      transition: 0.5s all cubic-bezier(0.15, 0.95, 0.53, 1.64);
      overflow: hidden;
      z-index: 1;
    }
    .notifications-popup ul {
      list-style: none;
      margin: 0px 15px 3px;
      padding: 0;
    }
    .notifications-popup ul li {
      border-bottom: 1px solid $grey-lighter;
      display: block;
      padding: 5px 0px;
      font-size: 14px;
    }
    .notifications-popup ul li:last-child {
      border-bottom: none;
    }
    .notifications-title {
      display: block;
      text-align: center;
      font-size: $large-font;
      font-weight: 500;
      margin: 5px auto 0px;
      letter-spacing: 1px;
    }
    #toggle-notifications {
      position: absolute;
      top: 0;
      z-index: -1;
      opacity: 0;
    }
    #toggle-notifications:checked ~ .notifications-popup {
      opacity: 1;
      max-height: 200px;
      transition: none;
    }
    #toggle-notifications:checked ~ .icon {
      background-color: $black;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
/*toggle-search */
#toggle-search:checked ~ .top-fields {
  .breadcrumb {
    opacity: 0;
    max-width: 0px;
    transition: 0.3s ease-in all;
  }
  .search-block {
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    transition: 0.5s all cubic-bezier(0.25, 0.95, 0.62, 1.09);
    transition-delay: 0.2s;
  }
  .site-search:before {
    height: 20px;
    left: 23px;
    top: 8px;
    width: 2px;
  }
  .site-search:after {
    background-color: white;
    border: 0px;
    top: 8px;
    border-radius: 0px;
    height: 20px;
    left: 23px;
    transform: rotate(45deg);
    width: 2px;
  }
}

label.filters {
  background: #000;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  padding: 10px 15px 8px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0px;
}
label.filters:before {
  content: '';
  width: 17px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  background-repeat: no-repeat;
}

#toggle-filters {
  opacity: 0;
  position: absolute;
}
#toggle-filters:checked ~ .overview-filters {
  max-height: 100px;
  transition: 0.3s ease-in all;
}
#toggle-filters:checked ~ label.filters {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: 0.3s ease-in all;
}
.overview-filters {
  max-height: 0px;
  transition: 0.3s ease-in all;
  overflow: hidden;
  display: block;
  background-color: #000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.block-filters,
.block-filterbuttons {
  display: flex;
  gap: 20px;
}

.datepicker {
  display: inline-block;
  width: 340px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  padding: 0px;
}
.k-dropdown {
  width: auto;
  font-size: 16px;
  border: none;
  background-color: transparent;
  height: 30px;
  border-radius: 5px;
  background: #333;
}
.k-dropdown .k-dropdown-wrap .k-select {
  background-color: transparent;
}
.k-dropdowntree {
  width: auto;
  font-size: 12px;
}
.k-dropdowntree .k-dropdown-wrap .k-select {
  background-color: transparent;
}
.k-dateinput {
  font-size: 12px;
}
.k-datepicker .k-picker-wrap {
  width: 65% !important;
}
.k-calendar {
  width: 200px;
}
.k-i-arrow-s::before {
  color: #dcdcdc;
}

app-sidebar {
  position: absolute;
  top: 0px;
  right: -300px;
  width: 300px;
  background: #ccc;
  color: black;
  height: 100vh;
  z-index: 2;
  transition: 0.3s ease-in all;
}
.overlayer {
  background: rgba(50, 50, 50, 0.7);
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  display: none;
}
app-sidebar {
  z-index: 2;
}
