<div id="header">
  <div id="dash-header">
    <div class="top-navigation-block">
      <input type="checkbox" id="toggle-search">
      <div class="top-fields">
        <nav aria-label="breadcrumb" role="navigation" class="breadcrumb">
          <div class="company-title">
            <b>Ciena</b>
          </div>
          <span >Manufacturing Sites</span><span >Overview</span>
        </nav>
        <div class="search-block">
          <input  type="text" name="search" autocomplete="off" placeholder="Search for anything" class="search-field">
          <button class="search-submit blue">Search</button>
        </div>
        <div class="header-events">
          <label  for="toggle-search" class="icon site-search">Search Field</label>
          <div class="notifications">
            <input  type="checkbox" id="toggle-notifications">
            <label  for="toggle-notifications" class="icon active">Notifications</label>
            <div class="notifications-popup">
              <span  class="notifications-title">Notifications</span>
              <ul>
                <li>You have no notifications at this time</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="user-block">
        <div class="avatar"></div>
        <div class="name">
          Ross V.
        </div>
      </div>
    </div>
  </div>
</div>