@import '../../../scss/variables';
.header {
  margin-bottom: 50px;
}
.main-header {
  padding-top: 42px;
  margin-right: 35px;
}
.header-events {
  display: flex;
}

/*breadcrumbs */
.breadcrumb {
  white-space: nowrap;
  font-size: $larger-font;
  color: $grey-lighter;
  opacity: 1;
  max-width: 100%;

  left: 0;
  flex-grow: 1;

  .breadcrumb-item {
    display: inline-block;
    font-size: 24px;
  }
  .company-title {
    font-size: $largest-font;
    display: inline;
  }
  span::before {
    content: '';
    border-left: 2px solid $grey-lighter;
    border-bottom: 2px solid $grey-lighter;
    width: 8px;
    height: 8px;
    display: inline-block;
    transform: rotate(-135deg);
    margin: 0px 10px;
    top: -2px;
    position: relative;
  }
  span::first-of-type {
    margin-left: 10px;
  }
  span::first-of-type:before {
    content: none;
  }
}

/*SEARCH */
#toggle-search {
  opacity: 0;
  position: absolute;
  top: -99px;
}
.site-search {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  position: relative;
  top: 3px;

  &:before {
    background-color: $grey-lightest;
    border-radius: 0px;
    content: '';
    display: inline-block;
    height: 13px;
    left: 26px;
    position: absolute;
    top: 22px;
    transform: rotate(-45deg);
    transition: all 0.15s linear;
    width: 5px;
  }
  &:after {
    border: 2px solid $grey-lightest;
    border-radius: 50%;
    box-sizing: content-box;
    content: '';
    height: 25px;
    left: 0px;
    position: absolute;
    top: 0px;
    transform-origin: 50% 50%;
    transition: all 0.15s linear;
    width: 25px;
  }
}
.area-search {
  transition: $default-transition;
  color: $black;
  border-radius: 10px;
}
.search-field {
  width: calc(100% - 120px);
  border-radius: 10px;
  padding: 0px 10px;
  font-size: $large-font;
  outline: 0px;
}
.search-block {
  position: relative;
  max-width: 0%;
  display: flex;
  overflow: hidden;
  transition: 0.5s all cubic-bezier(0.25, 0.95, 0.62, 1.09);
}

/*topnav */
.top-navigation-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;

  .icon {
    text-indent: -9999px;
    overflow: hidden;
  }
  .profile-block {
    display: flex;
  }
  .top-fields {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .user-block {
    display: flex;

    .avatar {
      position: relative;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      margin-right: 10px;
      display: block;
      cursor: pointer;
      background-size: 35px 35px;
      background-position: 0px 3px;
    }
  }
  .name {
    grid-row: 1;
    grid-column: 2;
    font-size: 15px;
    font-weight: 600;
    color: $grey-lighter;
  }
  .role {
    grid-row: 2;
    grid-column: 2;
    font-size: 13px;
  }
  .notifications {
    position: relative;

    .icon {
      position: relative;
      width: 45px;
      height: 45px;
      background-repeat: no-repeat;
      margin-right: 20px;
      display: block;
      cursor: pointer;
      background-size: 35px 35px;
      background-position: 5px 3px;
    }
    .icon.active:after {
      content: '';
      height: 10px;
      width: 10px;
      background: #009ddc;
      border-radius: 10px;
      position: absolute;
      display: block;
      top: 3px;
      left: 22px;
    }
    .notifications-popup {
      right: 20px;
      position: absolute;
      background-color: $black;
      width: 300px;
      max-height: 0;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      transition: 0.5s all cubic-bezier(0.15, 0.95, 0.53, 1.64);
      overflow: hidden;
      z-index: 1;
    }
    .notifications-popup ul {
      list-style: none;
      margin: 0px 15px 3px;
      padding: 0;
    }
    .notifications-popup ul li {
      border-bottom: 1px solid $grey-lighter;
      display: block;
      padding: 5px 0px;
      font-size: 14px;
    }
    .notifications-popup ul li:last-child {
      border-bottom: none;
    }
    .notifications-title {
      display: block;
      text-align: center;
      font-size: $large-font;
      font-weight: 500;
      margin: 5px auto 0px;
      letter-spacing: 1px;
    }
    #toggle-notifications {
      position: absolute;
      top: 0;
      z-index: -1;
      opacity: 0;
    }
    #toggle-notifications:checked ~ .notifications-popup {
      opacity: 1;
      max-height: 200px;
      transition: none;
    }
    #toggle-notifications:checked ~ .icon {
      background-color: $black;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
/*toggle-search */
#toggle-search:checked ~ .top-fields {
  .breadcrumb {
    opacity: 0;
    max-width: 0px;
    transition: 0.3s ease-in all;
  }
  .search-block {
    max-width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    transition: 0.5s all cubic-bezier(0.25, 0.95, 0.62, 1.09);
    transition-delay: 0.2s;
  }
  .site-search:before {
    height: 20px;
    left: 23px;
    top: 8px;
    width: 2px;
  }
  .site-search:after {
    background-color: white;
    border: 0px;
    top: 8px;
    border-radius: 0px;
    height: 20px;
    left: 23px;
    transform: rotate(45deg);
    width: 2px;
  }
}

.filter-block {
  margin-right: 35px;
  background: $black;
  color: #fff;
  display: flex;
  padding-top: 3px;
  border-radius: 10px;
  width: 130px;
  height: 50px;
  position: relative;
  transition: 0.3s ease-in all;

  &.filter-active {
    width: calc(100% - 35px);
  }
  &.filter-active .overview-filters {
    max-width: 100%;
    transition: 0.3s ease-in all;
    width: 100%;
    padding-right: 20px;
  }
  &.filter-active .filters {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.3s ease-in all;
    span {
      max-width: 0px;
      color: $black;
      transition: $default-transition;
    }
  }
}
.filters {
  border: none;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  white-space: nowrap;
  // background: black;
  // border-radius: 10px;

  span {
    display: inline-block;
    max-width: 100px;
    position: relative;
    top: 2px;
    color: $white;
    overflow: hidden;
    transition: $default-transition;
  }
}
.filters:before {
  content: '';
  width: 17px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  background-repeat: no-repeat;
}

#toggle-filters {
  opacity: 0;
  position: absolute;
}
.overview-filters {
  max-width: 0px;
  overflow: hidden;
  transition: none;
}

.block-filters {
  display: flex;
  gap: 12px;
  flex-flow: nowrap;
  width: 100%;
}
.block-filterbuttons {
  display: flex;
  gap: 12px;
  flex-flow: nowrap;
  margin-top: 8px;
}
.select {
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  line-height: 16px;
  background-color: #fff;
  background-image: linear-gradient(to right, #f9f9f9, #4400ff 80%);
  height: 20px;
}
.select select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  height: 20px;

  &::-ms-expand {
    display: none;
  }
  &::after {
    content: '';
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

.datepicker {
  display: flex;
  width: auto;
  background: #dcdcdc;
  color: #000;
  border-radius: 5px;

  div {
    margin: 4px 3px;
    font-size: 14px;
  }
}
.datepicker .text-date {
  margin: 4px 3px;
  font-weight: 600;
  font-size: 12px;
}
.filter-item {
  border-width: 0;
}

.k-i-arrow-s::before {
  color: #dcdcdc;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-label {
  font-size: 12px;
  padding-bottom: 1px;
}
.filter-container .k-input {
  padding: 0px 5px;
  background: #dcdcdc;
  color: #000;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
}
.filter-container .k-select {
  background: #009ddc;
  height: 24px;
  border-radius: 0 5px 5px 0;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.filter-container .close-filters {
  transform: rotate(45deg);
  font-size: 30px;
  line-height: 14px;
  height: 20px;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.filter-item .k-dropdown-wrap {
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  position: relative;
  transition: all 0.1s ease;
  cursor: pointer;
  outline: 0;
  background: #009ddc;
  background-color: transparent;
  background-image: none;
}
.k-icon {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
}

app-sidebar {
  position: absolute;
  top: 0px;
  right: -300px;
  width: 270px;
  background: #ccc;
  color: black;
  height: 100vh;
  z-index: 2;
  padding: 15px;
  transition: 0.3s ease-in all;
}
.overlayer {
  background: rgba(50, 50, 50, 0.7);
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  display: none;
}

@media only screen and (max-width: 1200px) {
  .filter-container {
    display: block;
  }
  .overlayer-filter {
    background: rgba(50, 50, 50, 0.7);
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    display: none;
  }
  .filter-block.filter-active {
    width: 320px;
    position: relative;
    z-index: 2;
    border-radius: 10px 10px 0px 0px;

    .overview-filters {
      position: absolute;
      max-width: 300px !important;
      width: 300px !important;
      top: 50px;
      background: black;
      padding: 10px;
      z-index: 3;
      border-radius: 0px 0px 10px 10px;
      overflow: visible;
      transition: 0.3s ease-in all;
    }
    .filters {
      border-radius: 10px 10px 0px 0px;
      width: 300px;
      white-space: nowrap;
      position: absolute;
      background: none;
      z-index: 2;

      span {
        max-width: 100px;
        color: white;
      }
    }
    .close-filters {
      position: absolute;
      right: 10px;
      top: -35px;
    }
  }

  .block-filters {
    display: block;
  }
  .filter-item {
    border-width: 0;
    display: flex;
    margin: 25px 0;
    align-items: center;
    gap: 7px;

    &:first-child {
      margin-top: 0px;
    }
  }
}
.hamburger {
  position: relative;
  background: $blue-color;
  min-width: 0px;
  height: 29px;
  cursor: pointer;
  border-radius: 5px;
  max-width: 0px;
}
.company-logo {
  text-indent: -999px;
  overflow: hidden;
  background-repeat: no-repeat;
  height: 30px;
  opacity: 1;
  transition: 0.3s ease-in all;
  background-size: contain;
  max-width: 0px;
  background-position-x: right;
}
@media only screen and (max-width: 768px) {
  .overlayer-navigation {
    background: rgba(50, 50, 50, 0.7);
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    display: none;
    transition: $default-transition;
  }
  .hamburger {
    position: relative;
    background: $blue-color;
    min-width: 31px;
    max-width: 31px;
    height: 29px;
    cursor: pointer;
    border-radius: 5px;

    span {
      left: 8px;
      top: 14px;
      height: 2px;
      width: 15px;
      background: $white;
      position: absolute;
      display: block;
      content: '';
    }
    span:before {
      top: 14px;
      height: 2px;
      width: 15px;
      background: $white;
      position: absolute;
      display: block;
      content: '';
      top: -8px;
      left: 0px;
    }
    span:after {
      height: 2px;
      width: 15px;
      background: $white;
      position: absolute;
      display: block;
      content: '';
      top: 8px;
      left: 0px;
    }
  }
  .company-logo {
    max-width: 110px;
    min-width: 110px;
  }
}
