@import '../../../scss/variables';

.container {
  display: flex;
  overflow: hidden;
  position: relative;

  .left-column {
    top: 0;
    transition: $default-transition;

    &.open {
      flex: 0 0 250px;
      padding: 35px 15px 35px 35px;
      transition: $default-transition;
    }
    &.collapse {
      flex: 0 0 55px;
      padding: 35px 15px 35px 20px;
      transition: $default-transition;
    }
    &.close {
      flex: 0 0 0px;
      transition: $default-transition;
    }
    &.mobile {
      position: absolute;
      width: 290px;
      background: $grey-color;
      height: 100vh;
      padding: 10px;
      transition: $default-transition;
      z-index: 2;
      left: -300px;
    }
    &.mobile-open {
      position: absolute;
      width: 290px;
      background: $grey-color;
      height: 100vh;
      padding: 10px;
      transition: $default-transition;
      z-index: 2;
      left: 0px;
    }
  }

  .right-column {
    width: 100%;
    margin-left: 20px;
    height: 100vh;
  }
}
.header {
  height: 190px;
  transition: $default-transition;
}
.main-content {
  margin: 0px 25px 0px 0px;
  overflow-y: auto;
  padding-right: 10px;
  height: calc(100vh - 190px);
  transition: $default-transition;
}
@media only screen and (max-width: 767px) {
  .header {
    height: 120px;
    transition: $default-transition;
  }
  .main-content {
    height: calc(100vh - 120px);
    transition: $default-transition;
  }
}
