.container {
  display: flex;
  overflow: hidden;
  position: relative;
  

  .left-column {
    top: 0;

    &.open {
      flex: 0 0 250px;
      padding: 35px 15px 35px 35px;
    }
    &.collapse {
      flex: 0 0 55px;
      padding: 35px 15px 35px 20px;
    }
    &.close {
      flex: 0 0 0px;
    }
  }

  .right-column {
    width: 100%;
    margin-left: 20px;
  }
}
