@import '../../../scss/variables';

#sidebar {
  margin: 35px 35px 0px 35px;
  position: relative;
}

/*logo block */
.home-logo {
  background: $black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 35px;
  max-width: 300px;
  transition: 0.3s ease-in all;

  img {
    height: 32px;
  }
  .company-logo {
    text-indent: -999px;
    overflow: hidden;
    background-repeat: no-repeat;
    width: calc(100% - 30px);
    height: 30px;
    opacity: 1;
    transition: 0.2s ease-in all;
    background-size: contain;
  }
  #hamburger {
    position: relative;
    background: $blue-color;
    width: 30px;
    height: 29px;
    cursor: pointer;
    border-radius: 5px;

    span {
      left: 8px;
      top: 14px;
      height: 2px;
      width: 15px;
      background: $white;
      position: absolute;
      display: block;
      content: '';
    }
    span:before {
      @extend span;
      top: -8px;
      left: 0px;
    }
    span:after {
      @extend span;
      top: 8px;
      left: 0px;
    }
  }
}
