$green-color: #54b948;
$yellow-color: #fdbb31;
$orange-color: #f68a33;
$red-color: #e31b23;
$blue-color: #009ddc;
$grey-color: #29272a;
$purple-color: #92278f;
$tertiary-color-a: #009a8c;

$tertiary-color-b: #065aa3;


$complementary-color: #dc3f00;

$grey-lightest: #dcdcdc;
$grey-lighter: #cccccc;
$grey-light: #404040;
$grey-dark: #151515;
$grey-darker: #333;
$grey-darkest: #999;

$base-font: 16px;
$large-font: 18px;
$larger-font: 24px;
$largest-font: 30px;
$small-font: 14px;

$white: #ffffff;
$black: #000;

$default-transition: 0.3s ease-in all;
