<div class="donut-container">
  <div class="load-more donut-toggle" (click)="onClickMe()" #donuttoggle>
    Load More
  </div>
  <div id="chart-circles" style="position: relative">
    <kendo-chart
      [chartArea]="chartConfig.chartArea"
      [seriesDefaults]="chartConfig.seriesDefault"
      [legend]="chartConfig.legend"
      [series]="chartConfig.series"
    >
      <kendo-chart-tooltip tooltipClass="tooltippers">
        <ng-template
          kendoChartSeriesTooltipTemplate
          let-value="value"
          let-category="category"
        >
          {{ category }} - {{ value }}
        </ng-template>
      </kendo-chart-tooltip>
    </kendo-chart>
  </div>
</div>
