//@import '../../../scss/global';

.donut-container {
  height: auto;
}
.load-more {
  position: absolute;
  top: 12px;
  font-size: 12px;
  background: #c5c5c5;
  border-radius: 5px;
  padding: 0px;
  cursor: pointer;
  z-index: 1;
  left: 10px;
  color: block

  &.five {
    display: block;
  }
  &.ten {
    display: none;
  }
}
.donut-container.active {
  .load-more {
    &.five {
      display: none;
    }
    &.ten {
      display: block;
    }
  }
}
