.header.collapse .filter-block.filter-active .overview-filters {
  position: absolute;
  max-width: 300px !important;
  width: 300px !important;
  top: 50px;
  background: black;
  border: 1px solid #999;
  padding: 10px;
  z-index: 3;
}
.k-input {
  padding: 0px 5px;
  background: #dcdcdc;
  color: black;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
}
.k-select {
  background: #dcdcdc;
  height: 24px;
  border-radius: 0 5px 5px 0;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #999;
}
.k-dropdown-wrap {
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  position: relative;
  transition: all 0.1s ease;
  cursor: pointer;
  outline: 0;
  background: #009ddc;
  background-color: transparent;
  background-image: none;
}
.k-icon {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #404040;
}
