<div class="page-container">
  <app-grid-container>
    <div gridCell gcColSpan="2" gcRowSpan="2" class="card card-body">
      <h2>Demand Discover</h2>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell gcColSpan="2" class="card card-body">
      <h4>Two Cols</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>
    <div gridCell gcColSpan="2" class="card card-body">
      <h4>Two Cols</h4>
    </div>
    <div gridCell class="card card-body">
      <h4>Single Row & Col</h4>
    </div>

    <div gridCell gcColSpan="2" gcRowSpan="3" class="card card-body">
      <h2>dunno</h2>
    </div>
  </app-grid-container>
</div>
