<div class="page-container">
  <app-grid-container>
    <div gridCell gcColSpan="" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Fulfillment locations</div>
        <div>
          TO: FROM:
        </div>
        <div class="card-icons">
          <div class="maximize-icon"></div>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>map</h4>
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Status</div>
        <div class="card-icons">
          <a
            class="maximize-icon"
            [routerLink]="['/demandReportsTotalDemand']"
          ></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <img
        src="https://stackblitz.com/files/asgcs/github/bigredboots-arrow/angular-component-library-example-part-3-progress-45zjbr/master/src/assets/images/treemap.png"
      />
    </div>
    <div gridCell gcColSpan="3" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Profile</div>
        <div class="card-icons">
          <a class="maximize-icon" [routerLink]="['/demandReports']"></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <img
        src="https://stackblitz.com/files/asgcs/github/bigredboots-arrow/angular-component-library-example-part-3-progress-45zjbr/master/src/assets/images/barchart.png"
      />
    </div>
    <div gridCell gcColSpan="3" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Activity</div>
        <div class="card-icons">
          <a
            class="maximize-icon"
            [routerLink]="['/demandReportsWavechart']"
          ></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <img
        src="https://stackblitz.com/files/asgcs/github/bigredboots-arrow/angular-component-library-example-part-3-progress-45zjbr/master/src/assets/images/wavechart.png"
      />
    </div>
  </app-grid-container>
</div>
