<div class="page-container">
  <app-grid-container>
    <div gridCell gcColSpan="2" gcRowSpan="3" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Details</div>
        <div class="card-icons">
          <a class="maximize-icon" [routerLink]="['/demandReports']"></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>GRID</h4>
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Fulfillment locations</div>
        <div>
          TO: FROM:
        </div>
        <div class="card-icons">
          <div class="maximize-icon"></div>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>map</h4>
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Status</div>
        <div class="card-icons">
          <a class="maximize-icon" [routerLink]="['/demandReports']"></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>Tree Map</h4>
    </div>
    <div gridCell gcColSpan="3" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Profile</div>
        <div class="card-icons">
          <a class="maximize-icon" [routerLink]="['/demandReports']"></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>STACKED BAR CHART</h4>
    </div>
    <div gridCell gcColSpan="3" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Activity</div>
        <div class="card-icons">
          <a class="maximize-icon" [routerLink]="['/demandReports']"></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>LINE CHART</h4>
    </div>
  </app-grid-container>
</div>