<div class="page-container">
  <app-grid-container>
    <div gridCell gcColSpan="2" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Custom Reports</div>
      </div>
      <div class="menu-list">
        <ul>
          <li><a>VIEW COMPLETE REPORTS</a></li>
          <li><a>Demand Activity</a></li>
          <li class="active"><a>Demand Status</a></li>
          <li>Dummy list item 1</li>
          <li>Dummy list item 2</li>
          <li>Dummy list item 3</li>
          <li>Dummy list item 4</li>
          <li>Dummy list item 5</li>
          <li>Dummy list item 6</li>
          <li>Dummy list item 7</li>
        </ul>
      </div>
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Status</div>
      </div>
      <h4>Treemap</h4>
    </div>
    <div gridCell gcColSpan="3" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Demand Status Details</div>
      </div>
      <h4>GRID</h4>
    </div>
  </app-grid-container>
</div>