@import '../../../../scss/variables';

.grid-container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

:host ::ng-deep [gridCell] {
  display: block;
  padding: 10px 15px;
  border-radius: 10px;

  .card-title {
    display: flex;
    justify-content: space-between;
  }
  .card-title-text {
    font-weight: 800;
  }
  .moreinfo-icon {
    display: flex;
    width: 10px;
    position: relative;
    margin-left: 3px;
    cursor: pointer;
    justify-content: flex-end;
    top: 4px;

    span {
      display: block;
      width: 2px;
      height: 2px;
      background-color: white;
      top: 10px;
      position: absolute;
    }
  }
  .moreinfo-icon::before {
    display: block;
    width: 2px;
    height: 2px;
    content: '';
    background-color: white;
    position: absolute;
  }
  .moreinfo-icon::after {
    display: block;
    width: 2px;
    height: 2px;
    content: '';
    background-color: white;
    position: absolute;
    top: 5px;
  }
  .card-icons {
    display: flex;
    position: relative;
  }
  .maximize-icon {
    content: '';
    width: 15px;
    height: 12px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 4px;
  }
  .maximize-icon::before {
    content: 'detailed report';
    display: block;
    position: absolute;
    right: 22px;
    max-width: 0px;
    min-width: 0px;
    font-size: 12px;
    background: $blue-color;
    color: white;
    padding: 0px;
    top: -3px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.15s ease-out all;
    font-weight: 600;
    white-space: nowrap;
  }
  .maximize-icon:hover::before {
    content: 'detailed report';
    display: block;
    position: absolute;
    right: 22px;
    max-width: 80px;
    font-size: 12px;
    background: $blue-color;
    padding: 2px 10px;
    top: -3px;
    border-radius: 3px;
  }
  .moreinfo-block {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 0px 0px;
    background: #191818;
    top: -10px;
    right: -15px;
    font-size: 13px;
    transition: 0.3s ease-out all;
    overflow: hidden;
    border-color: #29272a;

    button {
      font-size: 14px;
    }
  }
  .moreinfo-active {
    width: 190px;
    padding: 5px 10px 10px;
    height: inherit;
    border-color: $grey-lightest;
  }
  .moreinfo-block .title {
    font-weight: 600;
  }
  .moreinfo-header {
    display: flex;
    justify-content: space-between;
  }

  a.close-more {
    transform: rotate(45deg);
    font-size: 22px;
    position: relative;
    top: -5px;
    right: -2px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 767px) {
  :host ::ng-deep [gridCell] {
    grid-column: span 2 !important;
  }
}
