@import '../../../../scss/variables';

.grid-container {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

:host ::ng-deep [gridCell] {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;

  .card-title {
    display: flex;
    justify-content: space-between;
  }
  .card-title-text {
    font-weight: 800;
  }
  .moreinfo-icon {
    display: block;
    width: 2px;
    height: 2px;
    background-color: white;
    position: relative;
    margin-left: 10px;
    margin-top: 9px;
    cursor: pointer;
  }
  .moreinfo-icon::before {
    display: block;
    width: 2px;
    height: 2px;
    content: '';
    background-color: white;
    position: absolute;
    top: -5px;
  }
  .moreinfo-icon::after {
    display: block;
    width: 2px;
    height: 2px;
    content: '';
    background-color: white;
    position: absolute;
    top: 5px;
  }
  .card-icons {
    display: flex;
  }
  .maximize-icon {
    content: '';
    width: 15px;
    height: 12px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 4px;
  }
  .maximize-icon::before {
    content: 'detailed report';
    display: block;
    position: absolute;
    right: 22px;
    max-width: 0px;
    min-width: 0px;
    font-size: 12px;
    background: $blue-color;
    color: white;
    padding: 0px;
    top: -3px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.15s ease-out all;
    font-weight: 600;
    white-space: nowrap;
  }
  .maximize-icon:hover::before {
    content: 'detailed report';
    display: block;
    position: absolute;
    right: 22px;
    max-width: 80px;
    font-size: 12px;
    background: $blue-color;
    padding: 2px 10px;
    top: -3px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 767px) {
  :host ::ng-deep [gridCell] {
    grid-column: span 2 !important;
  }
}
