@import './app/scss/icons';
@import './app/scss/global';

:focus {
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background: $grey-color;
  color: $grey-lighter;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: $base-font;
}

a {
  color: $grey-lighter;
  font-weight: 400;
  text-decoration: none;
}

.page-container {
  margin: 0px;
}

.card {
  display: block;

  &.card-body {
    background: $black;
    color: $grey-lighter;
    display: block;
    transition: background 0.5s;

    img {
      width: 100%;
      border-radius: 10px;
      margin-top: 10px;
    }
  }
  &.empty-card-body {
    background: transparent;
    color: transparent;
    display: block;
    height: 160px;
  }
}

.sidebar-active app-sidebar {
  right: 0px !important;
}
.sidebar-active .overlayer {
  display: block !important;
}
.mobile-open .overlayer-navigation {
  display: block !important;
}
.nav-active .navigation-filter {
  display: block !important;
}
/*mobile collapsed nav-menu */
.left-column.collapse .main-navigation ul li .navigation-links {
  position: absolute;
  z-index: 1;
  background: $blue-color;
  margin-left: 40px;
  padding: 5px 0px;
  margin-top: 0px !important;
  max-width: 0px;
  overflow: hidden;
  transition: $default-transition;
  white-space: nowrap;
  color: $white;
}
.left-column.collapse .main-navigation ul li:hover .navigation-links {
  max-width: 300px;
  padding: 5px 10px;
  border-radius: 10px;
}

.left-column.collapse .main-navigation ul li:hover .navigation-links ul {
  max-height: 80px;
}
.left-column.collapse .main-navigation ul li:hover .navigation-links a,
.left-column.collapse .main-navigation ul li:hover .navigation-links ul a {
  color: $white;
}
.left-column.collapse .main-navigation > ul > li span::after {
  display: none !important;
}

.left-column.collapse .main-navigation ul li:hover::after {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid $blue-color;
  display: inline-block;
  content: '';
  left: 34px;
  position: absolute;
  top: 10px;
}
.left-column.collapse .main-navigation ul ul li:hover::after {
  content: none;
}
.left-column.collapse .main-navigation ul ul {
  margin: 0px;
}
.left-column.open .home-logo .company-logo {
  width: calc(100% - 35px) !important;
}
.left-column.mobile-open .home-logo .company-logo {
  min-width: 110px !important;
  max-width: 110px !important;
}
.left-column.collapse .home-logo .company-logo {
  min-width: 0px !important;
  max-width: 0px !important;
}

// /* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $grey-light $grey-darker;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $black;
  border: 1px solid $grey-light;
}

*::-webkit-scrollbar-thumb {
  background-color: $grey-lighter;
  border-radius: 0px;
  border: 1px solid $grey-light;
}
*::-webkit-scrollbar-button {
  background: $blue-color;
  color: $white;
}

.datepicker .text-date {
  margin: 4px 3px;
  font-weight: 600;
  font-size: 12px;
}
.filter-item {
  border-width: 0;
}
.left-side-content .filter-item {
  position: relative;
  top: 0px;
  margin-left: 20px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 5px;
}
.k-i-arrow-s::before {
  color: #dcdcdc;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-label {
  font-size: 12px;
  padding-bottom: 1px;
}
.k-input {
  padding: 0px 5px;
  background: #dcdcdc;
  color: #000;
  font-size: 14px;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
}
.k-select {
  background: #009ddc;
  height: 24px;
  border-radius: 0 5px 5px 0;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.close-filters {
  transform: rotate(45deg);
  font-size: 30px;
  line-height: 14px;
  height: 20px;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.k-dropdown-wrap {
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  position: relative;
  transition: all 0.1s ease;
  cursor: pointer;
  outline: 0;
  background: #009ddc;
  background-color: transparent;
  background-image: none;
}
.k-icon {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
}
