@import './app/scss/icons';
@import './app/scss/global';

:focus {
  outline: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  background: $grey-color;
  color: $grey-lightest;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: $base-font;
}

a {
  color: $grey-lightest;
  font-weight: 400;
  text-decoration: none;
}

.page-container {
  margin: 1.5rem 1.5rem;
}

.card {
  display: block;

  &.card-body {
    background: #ffffff;
    color: #444;
    display: block;

    transition: background 0.5s;
    cursor: pointer;
  }
}
