<div class="page-container">
  <app-grid-container>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Part Overview</div>
        <div class="card-icons">
          <a class="maximize-icon" [routerLink]="['/demandReports']"></a>
          <div class="moreinfo-icon" (click)="toggleMoreInfo()"><span></span></div>

          <div class="moreinfo-block" #overview>
            <div class="moreinfo-header">
              <div class="title"><span>More Information</span></div>
              <a class="close-more" (click)="toggleMoreInfo()">+</a>
            </div>
            <div class="data">
              <ul>
                <li>Data Point 1: <span>236</span></li>
                <li>Data Point 2: <span>11</span></li>
                <li>Data Point 3: <span>4,322</span></li>
              </ul>
            </div>
            <button class="blue">Add to custom Dashboard</button>
          </div>

        </div>
      </div>
      <h2>Circle</h2>
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Fulfillment Site overview</div>
        <div class="card-icons">
          <a class="maximize-icon" [routerLink]="['/demandReports']"></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>Circle</h4>
    </div>
    <div gridCell class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Total Demand</div>
        <div class="card-icons">
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>$4.2M</h4>
    </div>
    <div gridCell gcColSpan="3" class="card card-body">
      <div class="card-title">
        <div class="card-title-text">Fulfillment locations</div>
        <div>
          TO: FROM:
        </div>
        <div class="card-icons">
          <a class="maximize-icon" [routerLink]="['/demandReports']"></a>
          <div class="moreinfo-icon"></div>
        </div>
      </div>
      <h4>map</h4>
    </div>
  </app-grid-container>
</div>